
OPENAI_API_KEY=
OPEN_ROUTER_API_KEY=
VITE_LOG_LEVEL=
FLY_API_TOKEN=
VITE_FLY_API_TOKEN=

CLOUDFLARE_API_KEY=

DATABASE_URL=

SUPABASE_URL=
SUPABASE_ANON_KEY=

AUTH_SECRET=

AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

AUTH_NOTION_ID=

AUTH_NOTION_SECRET=

AUTH_NOTION_REDIRECT_URI=

NEXTAUTH_URL=

NEXT_PUBLIC_SUPABASE_URL=

NEXT_PUBLIC_SUPABASE_ANON_KEY=

GOOGLE_API_KEY=

FIRECRAWL_API_KEY=

ANTHROPIC_BASE_URL=


BLOB_READ_WRITE_TOKEN=


OPENAI_BASE_URL=

CREEM_API_KEY=

NEXT_PUBLIC_GITHUB_TOKEN=


NEXT_PUBLIC_SCREENSHOT_URL=

VERCEL_TEAM_ID=

VERCEL_PROJECT_ID=

VERCEL_TOKEN=

# Cloudflare Configuration
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ZONE_ID=
CLOUDFLARE_API_DNS_TOKEN=

SUPABASE_ACCESS_TOKEN=

DB_ENCRYPTION_KEY=