.auto-component-panel{
    padding: 10px;
    .edit-box{
        display: flex;
        flex-direction: row;
        align-items: center;
        .edit-input{
            flex: auto;
            margin-left: 10px;
        }
    }
}